@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Baloo+Bhaijaan+2&family=Comfortaa&family=Concert+One&family=Dosis:wght@300&family=Genos:wght@300&family=Lato&family=Montserrat:wght@300&family=Pacifico&family=Permanent+Marker&family=Special+Elite&family=Voltaire&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    margin:0;
    padding:0;
    border:0;
    width:100vw;
    height:100vh;
    
}

h1{
    margin:0;
    
    background-color:rgb(31, 16, 34) ;
    height:10vh;
    width:100vw;
    padding:0.8rem;
    padding-top:2rem;
    color:white;
    font-family: 'Special Elite', cursive;

}
h3{
    margin:0;
    font-size:1.8rem;
    font-family: 'Annie Use Your Telescope', cursive;
    color:rgb(121, 63, 36);
    margin-left:0.4%;
    width:80%;
}
span{
    margin:0;
    font-weight: bolder;
  
    color:red;
}

#inp{
    width:20vw;
    height:2rem;
    margin:0.5rem;
    margin-bottom:3rem;
}

#inp input{
    width:8rem;
    height:95%;
    
    border-radius:0.5rem;
    border:2px solid cadetblue;
    outline: none;
    padding-left:0.5rem;
}
button{
    width:5.5rem;
    height:3rem;
    margin-left:2%;
    color:white;
    background-color:cadetblue;
    border-radius:0.5rem;
    border:2px solid cadetblue;
    padding:0.5em;
    font-size:0.8em;
    


}

#result{
    
    width:10rem;
    height:3.5rem;
    margin:2rem 1rem;
    color:rgb(255, 255, 255);
    background-color:rgba(77, 26, 0, 0.6);
    border-radius:0.5rem;
    border:0;
    padding:0.5em;
    font-size:1.2rem;
    font-weight: bolder;
   
    font-family: 'Dosis', sans-serif;

}

p{
    margin:0;
    font-size:2rem;
    color:green;
    margin-left:2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.r{
    display:flex;
    flex-basis: 20rem;
    align-items: center;
}
input{
    width:3rem;
    height:2rem;
    border-radius:0.3rem;
    border:1px solid rgba(109, 109, 109,0.4);
    outline: none;
    padding:0.5em;
    margin:1rem;
    font-size: 1.2rem;
    color:brown;


}
